html, body {
	background-attachment: fixed;
	background-color: $primary-color;
	background-image: url(../images/bg1.jpg);
	background-size: cover;
	overflow-x: hidden;
}

a {
	@include transition-property(color);
	@include transition-duration(0.25s);
}

.chromeframe {
	text-align: center;
	background: $page-color;
	padding: 0.5em;

	a {
		color: #2ba6cb;
	}
}

.loading {
	background: url(../images/loading.gif) no-repeat center center;
	background-size: 36px;
	min-height: 65px;
	min-width: 38px;
}

$header-brand-spacing: 1px;
@import "header-brand/*.png";
@include all-header-brand-sprites;

@include retina-sprite(brand);
.brand-image {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

#site {
	overflow: hidden;

	@media only screen and (min-width: #{$row-width}) {
		margin-top: $column-gutter;
		margin-bottom: $column-gutter;
	}
}

////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////

#page-header {
	position: relative;
	background: $primary-color url(../images/bg1.jpg);
	padding-top: $column-gutter/2;
	padding-bottom: $column-gutter/2;
	margin: 0 0 $column-gutter/2;
	overflow: hidden;

	.brand-list {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 $column-gutter/2;
		opacity: 0.1;

		> li {
			width: 100px;
			height: 45px;
		}
	}

	.vcard {
		border: none;
		color: $page-color;
		font-size: 0.68em;
		margin: 1em 0 0 0;
		padding: 0;
	}

	.logo-vcard {
		position: absolute;
		bottom: -5px;
		left: 93px;
	}
}

#page-header-logo {
	margin: 0;

	.link {
		background: url(../images/logo@2x.png);
		background-size: (440px/2) (156px/2);
		width: (440px/2);
		height: (156px/2);

		display: block;
		overflow: hidden;
		text-indent: -2000px;
	}
}

#page-header-slogan {
	color: $page-color;
	margin: 0.3em 0;
	text-align: center;

	@media #{$small} {
		float: left;
		text-align: left;
	}
}

#page-header-contacts {
	text-align: center;
	margin-top: $column-gutter/2;

	@media #{$small} {
		text-align: right;
		margin-top: 0;
	}

	> a {
		display: inline-block;
		color: white;
	}

	.button {
		width: 100%;
		padding: 0.5em 2em;
		margin: 1.1em 0 0.3em;

		@media #{$small} {
			width: auto;
		}
	}

	.small {
		font-size: 0.68em;
	}
}

////////////////////////////////////////////////////////////////////////////////
// Content
////////////////////////////////////////////////////////////////////////////////

#page {
	padding: $column-gutter/2;
	background: $page-color;

	@media #{$small} {
		@include box-shadow(rgba(black, 0.4) 0px 0px 5px);
	}
}

.content-box {
	border: 1px solid $secondary-color;
	padding: $column-gutter/2;
	background-color: white;
}

.view-animation-enter {
	@include transition-property(all);
	@include transition-duration(1s);
	opacity: 0;

	&.view-animation-enter-active {
		opacity: 1;
	}
}

////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////

#site-footer {
	color: white;
	text-align: center;
	padding: $column-gutter 0;
	font-size: 0.7em;
	opacity: 0.7;
}
