<div class="carlist-filters row">
	<div class="small-12 columns">
		<input type="text" class="carlist-filter" style="width:100%" data-placeholder="Filtra"/>
	</div>
</div>

<ul class="carlist content-box">
	<li ng-repeat="car in filteredCars = (cars|filter:carsFilterPredicate)" id="car-{{car.id}}">
		<a href="#/details/{{car.id}}" class="carlist-link">
			<div class="row">
				<div class="small-3 columns">
					<ul class="inline-list">
						<li class="carlist-brand-col">
							<div class="brand-image brand-{{car.brand|lowercase}}"></div>
						</li>
						<li class="carlist-image-col">
							<img class="carlist-image" src="http://placehold.it/200" ng-src="{{car.images[0]}}">
						</li>
					</ul>
				</div>
				<div class="small-9 columns">
					<div class="row">
						<h3 class="carlist-title">
							<span class="carlist-brand" ng-bind="car.brand">&ndash;</span>
							/
							<strong class="carlist-model" ng-bind="car.model">&ndash;</strong>
						</h3>
					</div>
					<div class="row">
						<ul class="inline-list">
							<li class="carlist-km-col">
								<p class="carlist-km">Km <strong ng-bind="car.km|number">&ndash;</strong></p>
							</li>
							<li class="carlist-date-col">
								<p class="carlist-date">anno <strong ng-bind="car.date|date:'MM/yyyy'">&ndash;</strong></p>
							</li>
							<li class="carlist-price-col">
								<p class="carlist-price">&euro; <strong ng-bind="car.price|number">&ndash;</strong></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</a>
	</li>
	<li ng-if="!filteredCars.length" class="carlist-nothing-found">
		Nessuna auto trovata con i parametri indicati!
	</li>
</ul>
