<article id="contacts" class="content-box">
	<div class="row">
		<div class="small-12 large-6 columns">
			<h3>Union Car S.r.l</h3>
			<div class="row">
				<div class="small-12 large-5 columns">
					<ul class="vcard">
						<li class="street-address">Via Cavin di Sala 74</li>
						<li class="locality">Mirano</li>
						<li><span class="state">Venezia</span>, <span class="zip">30035</span></li>
					</ul>
				</div>
				<div class="small-12 large-7 columns">
					<ul class="vcard">
						<li><span class="secondary radius label">Telefono</span> <span>+39 041 570 3547</span></li>
						<li><span class="secondary radius label">Fax</span> <span>+39 041 570 3920</span></li>
						<li class="email"><span class="secondary radius label">E-Mail</span> <a href="mailto:mirano@unioncar.it">mirano@unioncar.it</a></li>
					</ul>
				</div>
			</div>
			<h4>Scrivici</h4>
			<form class="custom">
				<input type="email" placeholder="La tua email" name="contact-email">
				<textarea name="contact-text" class="contact-text" placeholder="Messaggio"></textarea>
				<input type="submit" value="Invia" class="contact-submit disabled small radius button">
			</form>
		</div>
		<div class="small-12 large-6 columns">
		</div>
	</div>
	<div id="map-canvas"></div>
</article>
